$bg-dark: #202020;
$bg-dark-primary: #232325;
$bg-dark-secondary: #262626;
$bg-gray: #707070;
$bg-gray-secondary: #373737;
$bg-gray-tertiary: #444444;
$bg-gray-b: #BBBBBB;
$bg-green: #CBFB45;
$bg-red: #BC443F;
$bg-red-primary: #FF0000;

$max-width: 1200px;

$font-bold: 'AlteHaasGroteskBold';
$font-regular: 'AlteHaasGroteskRegular', sans-serif;