.section1 {
    width: 100%;
    background: #232323;
    display: flex;
    justify-content: center;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 36px 10px 136px 10px;
        width: 100%;
        gap: 22px;

        @media (min-width: 1250px) {
            padding: 36px 0px 136px 0px;
        }
    }
}

.section2 {
    width: 100%;
    background: #262626;
    display: flex;
    justify-content: center;

    .container {
        display: flex;
        flex-direction: column;
        padding: 32px 10px 194px 10px;
        width: 100%;
        justify-content: center;
        align-items: center;

        @media (min-width: 1250px) {
            padding: 32px 0px 194px 0px;
        }
    }
}

.section3 {
    width: 100%;
    background: #232323;
    display: flex;
    justify-content: center;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 128px 10px 161px 10px;
        width: 100%;

        @media (min-width: 1250px) {
            padding: 128px 0px 161px 0px;
        }
    }
}

.section4 {
    width: 100%;
    background: #232323;
    display: flex;
    justify-content: center;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 174px 10px 267px 10px;
        width: 100%;

        @media (min-width: 1250px) {
            padding: 174px 0px 267px 0px;
        }
    }
}

.section5 {
    width: 100%;
    background: #232323;
    display: flex;
    justify-content: center;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 173px 10px 116px 10px;
        width: 100%;

        @media (min-width: 1250px) {
            padding: 173px 0px 116px 0px;
        }
    }
}