/* Container principal do footer */
.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 128px;
    // padding: 179px 201px 116px 201px;
    padding-top: 179px;
    padding-bottom: 116px;
    width: 100%;
    max-width: 1366px;

    .footerLeft {
        display: flex;
        flex-direction: column;
        gap: 38px;

        .footerLogo {
            width: 212px;
            height: 61px;
        }

        .footerFollowText {
            font-weight: 400;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #707070;
        }

        .footerSocialIcons {
            display: flex;
            align-items: center;
            gap: 24px;

            .footerIcon {
                font-size: 32px;
                color: #707070;
                cursor: pointer;
                transition: .5s ease-in-out;

                &:hover {
                    opacity: .5;
                }
            }
        }
    }

    .footerRight {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 72px;

        .footerLinksWrapper {
            display: flex;
            gap: 72px;

            .footerLinksSection {
                display: flex;
                flex-direction: column;
                // flex-grow: 1;
                gap: 37px;

                .footerSectionTitle {
                    font-family: 'AlteHaasGroteskBold';
                    font-size: 20px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #fff;
                }

                .footerLink {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #707070;
                    cursor: pointer;
                    transition: .5s ease-in-out;

                    &:hover {
                        opacity: .5;
                    }
                }
            }
        }

        .footerBottomSection {
            display: flex;
            flex-direction: column;
            gap: 42px;
            max-width: 650px;

            .footerCopyright {
                font-family: 'AlteHaasGroteskBold';
                font-size: 20px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #fff;
            }

            .footerDisclaimer {
                font-weight: 400;
                font-size: 13px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #707070;
            }

            .footerLegalLinks {
                display: flex;
                align-items: center;
                gap: 50px;

                .footerLegalLink {
                    font-family: 'AlteHaasGroteskBold';
                    font-size: 15px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #fff;
                    cursor: pointer;
                    transition: .5s ease-in-out;

                    &:hover {
                        opacity: .5;
                    }
                }
            }
        }
    }

    @media (max-width: 1100px) {
        padding: 100px 50px;
    }

    @media (max-width: 930px) {
        gap: 50px;

        .footerRight {
            .footerLinksWrapper {
                gap: 50px;
            }
        }
    }

    @media (max-width: 830px) {
        flex-direction: column;
        align-items: center;
        text-align: center;

        .footerLeft {
            .footerSocialIcons {
                justify-content: center;
            }
        }

        .footerRight {
            .footerLinksWrapper {
                gap: 50px;
            }

            .footerBottomSection {
                .footerLegalLinks {
                    justify-content: center;
                }
            }
        }
    }

    @media (max-width: 600px) {
        .footerRight {
            .footerLinksWrapper {
                flex-direction: column;
            }
        }
    }
}