$color-bg: #262626;
$color-text: #707070;
$color-accent: #CBFB45;

.premiumSection {
    background-color: $color-bg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 118px;
    width: 100%;
    transform: translateY(50%);
    overflow: hidden;
    animation-name: expandContainer;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

    .togglePremiumInfo {
        font-size: 37px;
        color: $color-text;
        cursor: pointer;
        transition: .5s ease-in-out;

        &:hover {
            opacity: .7;
        }
    }

    .premiumContent {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 80px;

        .premiumLeft {
            display: flex;
            flex-direction: column;
            gap: 19px;
            align-items: flex-end;

            .premiumLogo {
                width: 300px;
                height: 42px;
            }

            .viewPlansBtn {
                width: 112px;
                height: 28px;
                border-radius: 25px;
                border: none;
                background-color: $color-accent;
                font-family: 'AlteHaasGroteskBold';
                font-size: 12px;
                line-height: 100%;
                cursor: pointer;
                transition: .5s ease-in-out;

                &:hover {
                    opacity: .7;
                }
            }
        }

        .premiumDescription {
            color: $color-text;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            max-width: 731px;
        }

    }

    @media (max-width: 1000px) {
        gap: 80px;
        .premiumContent {
            flex-direction: column;
            text-align: center;
            gap: 30px;

            .premiumLeft {
                align-items: center;
                gap: 30px;
            }

            .premiumDescription {
                max-width: none;
            }
        }
    }
}

@keyframes expandContainer {
    100% {
        transform: translateY(0);
    }
}